@use './partials/variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap';

img {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $fedora;
}
body {
    color: $fedora;
}

h2, h4, h5, h6 {
    color: $shark;
}

.debug {
    border: 1px solid red;
}
